.box {
  display: flex;
  text-align: center;
}

.b-title {
  flex: 1;
  border: 3px solid white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}
.sheet_div {
  display: block;
  width: 810px;
  text-align: center;
  background-color: aqua;
  margin: 5px auto;
  border-radius: 5px;
  border: 2px solid #73ad21;
}
.center_div {
  display: block;
  width: 850px;
  text-align: center;
  background-color: aqua;
}
.container_div {
  display: block;
  text-align: center;
  background-color: gold;
}
.sheet_color {
  width: 800px;
  background-color: aqua;
  text-align: center;
}
.button_div {
  display: block;
  background-color: blue;
}
.offline_div {
  text-align: center;
  background-color: gold;
}
