.box {
  display: flex;
  text-align: center;
}

.b-title {
  flex: 1;
  border: 3px solid white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}
.sheet_div {
  width: 850px;
  text-align: center;
  background-color: aqua;
  margin: auto;
}
.center_div {
  width: 850px;
  text-align: center;
  background-color: aqua;
}
.container_div {
  text-align: center;
  background-color: blue;
}
.sheet_color {
  width: 800px;
  background-color: aqua;
  text-align: center;
}
