.nav_container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_item {
  text-transform: capitalize;
  color: gray;
  text-decoration: none;
  padding: 5px 10px;
  border: 3px solid transparent;
}

.nav_item_active {
  padding: 5px 10px;
  color: black;
  border-color: black;
  border: 3px solid;
}
